{% extends 'base.html' %} 
{%block title%}Story Form{%endblock%} 
{% block content%}
    <h1>Madlibs</h1>
    <h2>Choose Your Story Template</h2>
    <form action="/storyform">
      <label>Story Templates:</label>
      <select id='stories'>
        <option value='onceUponATime' name='onceUponATime'>Once Upon A Time...</option>
        <option value='loveStory' name='loveStory'>My Love Story</option>
        <option value='myLocker' name='myLocker'>My myLocker...</option>
      </select>
      <button>Submit</button>
    </form>
{%endblock%}