{% extends 'base.html' %} 
{%block title%}Story Form{%endblock%} 
{% block content%}
<h1 class="head">Madlibs</h1>
<h2 class="secondhead">Let's make a story!</h2>
<h2 class="secondhead">Your Story Choice is: {{select}}</h2>
<form action="/story" class="form">
  <input type="text" name="template" value="{{select}}" hidden />
  {%for word in words%}
  <label class="label">{{word.capitalize()}}:</label>
  <input type="text" placeholder="{{word}}" name="{{word}}" class="input" />
  <br />
  {%endfor%}
  <button class="btn">Submit</button>
</form>
{%endblock%}
